# Evaluation SQL Query Result (Refactored)

**Authors**
1. Alfan Dinda Rahmawan (alfan.d.rahmawan@gdplabs.id)

## Installation

In [ ]:
# !pip install -r requirements.txt
%pip install -q mysql-connector-python==9.2.0

## Setup and Configuration

In [1]:
import os
import pandas as pd
import logging
from dotenv import load_dotenv
from modules.google_sheets_writer import GoogleUtil
from tqdm import tqdm
import ast

from modules.database_connection import connect_to_mariadb
from modules.sql_query_tester import SQLQueryTester
from modules.evaluator import TextToSQLEvaluator
from modules.constants import (
    ColumnName
)

# Setup logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s'
)
logger = logging.getLogger(__name__)

# Load environment variables
load_dotenv()


EXPERIMENT = {
    "ft_qwen_7b_coder": {
        "exp_id": "1",
        "core_employee": {
            "inference_sheet": "inference_core_employee",
            "evaluation_sheet": "eval_result_core_employee",
        },
        "time_management": {
            "inference_sheet": "inference_time_management",
            "evaluation_sheet": "eval_result_time_management",
        },
        "core_employee_old": {
            "inference_sheet": "inference_core_employee_old",
            "evaluation_sheet": "eval_result_core_employee_old",
        }
    },
}

# Google Sheets configuration
GOOGLE_SPREADSHEET_ID = "1dDMqrol_DrEMjvLy88IRu2WdHN7T5BU0LrD8ORLuNPI"
GOOGLE_SPREADSHEET_URL = f"https://docs.google.com/spreadsheets/d/{GOOGLE_SPREADSHEET_ID}/edit?usp=sharing"


# ## Load Data Test
EXP_ID = "l"
EXPERIMENT_NAME = "ft_qwen_7b_coder"
DATA_TEST_TYPE = "core_employee"
EVAL_SHEET_NAME = EXPERIMENT[EXPERIMENT_NAME][DATA_TEST_TYPE]["evaluation_sheet"]
INFERENCE_SHEET_NAME = EXPERIMENT[EXPERIMENT_NAME][DATA_TEST_TYPE]["inference_sheet"]

# Configuration
# Get database names from environment variables
DB_CORE_MANAGEMENT = os.getenv('CORE_DB_NAMES')
DB_TIME_MANAGEMENT = os.getenv('TIME_MANAGEMENT_DB_NAMES')

# Google Sheets credentials
GOOGLE_SHEETS_CLIENT_EMAIL = os.getenv('GOOGLE_SHEETS_CLIENT_EMAIL')
GOOGLE_SHEETS_PRIVATE_KEY = os.getenv('GOOGLE_SHEETS_PRIVATE_KEY')
google: GoogleUtil = GoogleUtil(GOOGLE_SHEETS_PRIVATE_KEY, GOOGLE_SHEETS_CLIENT_EMAIL)

## Database Connection

In [2]:
# Connect to databases
time_management_db = connect_to_mariadb(DB_TIME_MANAGEMENT)
core_employee_db = connect_to_mariadb(DB_CORE_MANAGEMENT)

# Create database dictionary
databases = {
    'core': core_employee_db,
    'time': time_management_db
}

Connected to MariaDB Server version 8.0.41-0ubuntu0.22.04.1
Connected to MariaDB Server version 8.0.41-0ubuntu0.22.04.1

#### Sanity Check

In [3]:
# connection = time_management_db
connection = core_employee_db
query = """
SELECT e.name AS 'nama_karyawan' FROM employees e JOIN termination_entries te ON e.id = te.employee_id WHERE YEAR(te.effective_date) = 2025;
"""
cursor = connection.cursor(dictionary=True)
cursor.execute(query)
result = cursor.fetchall()
print(result)

[{'nama_karyawan': 'Pham Rubert'}, {'nama_karyawan': 'Timmy Turner'}]

## Load and Process Data

In [4]:
# Load prediction results
from typing import List

rows: List[list] = google.retrieve_worksheet(GOOGLE_SPREADSHEET_ID, INFERENCE_SHEET_NAME)
df_generator_result: pd.DataFrame = pd.DataFrame(rows[1:], columns=rows[0])
df_generator_result = df_generator_result[df_generator_result[ColumnName.EXP_ID] == str(EXP_ID)]

# Extract queries and results
list_generated_sql_query = df_generator_result[ColumnName.GENERATED_SQL_QUERY].tolist()
list_expected_query_result = df_generator_result[ColumnName.EXPECTED_QUERY_RESULT].tolist()

# Convert string representations to Python objects
exp_text_to_sql = [ast.literal_eval(result_str) for result_str in list_expected_query_result]

## Execute Queries

In [5]:
from modules.postprocess import extract_sql_query, extract_clean_sql_query

# Initialize query tester

# Execute queries and collect results
pred_text_to_sql = []
for idx, row in tqdm(df_generator_result.iterrows(), total=len(df_generator_result), desc="Processing queries"):
    database_type = row[ColumnName.DATABASE_TYPE]
    query = row[ColumnName.GENERATED_SQL_QUERY]
    query = extract_sql_query(query)
    query_tester = SQLQueryTester(databases, default_db=database_type, refresh_interval=3600)
    results, error_message = query_tester.execute_query(query)  # used for fine tuning result.
    # Store the results in the DataFrame
    df_generator_result.at[idx, ColumnName.GENERATED_QUERY_RESULT] = str(results)
    pred_text_to_sql.append(results)

Processing queries: 100%|██████████| 52/52 [00:00<00:00, 230.97it/s]

## Evaluate Results

In [6]:
df_generator_result.head(2)

,Exp ID,No,Prompt,Generated SQL Query,Expected SQL Query,Expected Query Result,Database,Time Taken,Generated Query Result
208,l,1,Bagaimana perbandingan jumlah karyawan berdasa...,"```json\n{\n ""sql_query"": ""SELECT o.name AS '...","SELECT organizations.name AS ""organization_nam...",[{'organization_name': 'Information Technology...,core,7.0638086795806885,"[{'organization_name': 'Human Resources', 'tot..."
209,l,2,Bagaimana data termination berdasarkan nama ja...,"{\n ""sql_query"": ""SELECT e.name AS 'employee_...","SELECT job_titles.name AS ""job_title_name"", CO...","[{'job_title_name': 'Information Technology', ...",core,4.123811483383179,"[{'employee_name': 'Timmy Turner', 'job_title_..."

In [7]:
# Create evaluator instance
evaluator = TextToSQLEvaluator(pred_text_to_sql, exp_text_to_sql)

# Create evaluation DataFrame
eval_df = evaluator.create_evaluation_dataframe(df_generator_result, list_generated_sql_query, EXP_ID)

# Print evaluation summary
evaluator.print_evaluation_summary()

Overall Metrics:
Average Precision: 0.1321
Average Recall: 0.1538
Average F1 Score: 0.1386
Average Accuracy: 0.1154

Detailed Results:

Query 1:
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
Accuracy: 1.0000

Query 2:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Employee Name': 'Timmy Turner', 'Job Title Id': '06a8aa72-37aa-47cb-9315-f2a265e200f7', 'Effective Date': '2019-08-05', 'Termination Reason': 'Sakit berkepanjangan dan tidak dapat lanjut bekerja setelah 12 (dua belas) bulan'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Job Title Name': 'Information Technology', 'Termination Count': 1}

Query 3:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Current Location': 'Bandung', 'Point Of Hire Location': None, 'Number Of Employees': 2}
  {'Current Location': 'Surabaya', 'Point Of Hire Location': None, 'Number Of Employees': 5}
  {'Current Location': 'Jakarta', 'Point Of Hire Location': 'Surabaya', 'Number Of Employees': 4}
  {'Current Location': 'Jakarta', 'Point Of Hire Location': None, 'Number Of Employees': 4}
  {'Current Location': 'Jakarta', 'Point Of Hire Location': 'Bandung', 'Number Of Employees': 4}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Location Name': 'Jakarta', 'Employee Count': 7}
  {'Location Name': 'Bandung', 'Employee Count': 4}
  {'Location Name': 'Surabaya', 'Employee Count': 3}

Query 4:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Nama organisasi': 'Information Technology', 'Total gaji': 12000}
  {'Nama organisasi': 'Board of Commissioners', 'Total gaji': 12000}

Query 5:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Nama Karyawan': ''}

Query 6:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Id': 'd6037ea4-851e-45d7-b9e1-22b3eaeb7f9a', 'Name': 'Jackie Miller', 'Last Salary Change Date': '2020-10-19'}
  {'Id': '6beb9aa2-9049-4820-aebd-56653c481ba8', 'Name': 'Raymond Richardson', 'Last Salary Change Date': '2023-10-06'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Jackie Miller', 'Last Salary Change Date': '2020-10-19'}
  {'Employee Name': 'Raymond Richardson', 'Last Salary Change Date': '2023-10-06'}

Query 7:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Total Transferred Amount': 60000000}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total uang yang sudah keluar untuk gajian': 40000000}

Query 8:
Precision: 0.4000
Recall: 1.0000
F1 Score: 0.5714
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Bulan': '2023-10', 'Total Thp': 12000}
  {'Bulan': '2023-11', 'Total Thp': 12000}
  {'Bulan': '2023-12', 'Total Thp': 12000}

Query 9:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Month': 2, 'Total Amount': 20000000}
  {'Month': 1, 'Total Amount': 40000000}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Month': '2025-02', 'Total Transferred Amount': 20000000}
  {'Month': '2025-01', 'Total Transferred Amount': 40000000}

Query 10:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Age': 17, 'Count': 1}
  {'Age': 43, 'Count': 1}
  {'Age': 42, 'Count': 1}
  {'Age': 27, 'Count': 1}
  {'Age': 23, 'Count': 1}
  {'Age': 28, 'Count': 1}
  {'Age': 35, 'Count': 1}
  {'Age': 20, 'Count': 1}
  {'Age': 29, 'Count': 1}
  {'Age': 12, 'Count': 3}
  {'Age': 30, 'Count': 1}
  {'Age': 25, 'Count': 1}
  {'Age': 53, 'Count': 1}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Age': 35.0, 'Jumlah Karyawan': 1}
  {'Age': 29.0, 'Jumlah Karyawan': 1}
  {'Age': 20.0, 'Jumlah Karyawan': 1}
  {'Age': 28.0, 'Jumlah Karyawan': 1}
  {'Age': 30.0, 'Jumlah Karyawan': 1}
  {'Age': 25.0, 'Jumlah Karyawan': 1}
  {'Age': 23.0, 'Jumlah Karyawan': 1}
  {'Age': 53.0, 'Jumlah Karyawan': 1}
  {'Age': 43.0, 'Jumlah Karyawan': 1}
  {'Age': 27.0, 'Jumlah Karyawan': 1}
  {'Age': 42.0, 'Jumlah Karyawan': 1}
  {'Age': 12.0, 'Jumlah Karyawan': 3}

Query 11:
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
Accuracy: 1.0000

Query 12:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Total Salary': 72000}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total gaji karyawan aktif': 36000}

Query 13:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Id': '09860af3-d5d3-4d97-aa38-b9c925f5edc0', 'Effective Date': '2025-01-31', 'Termination Reason': 'Sakit berkepanjangan dan tidak dapat lanjut bekerja setelah 12 (dua belas) bulan', 'Job Title': 'Information Technology'}
  {'Id': '215e1a09-49f0-4903-b5e5-b38053e180a8', 'Effective Date': '2025-03-17', 'Termination Reason': 'Meninggalkan Indonesia selama-lamanya', 'Job Title': 'Information Technology'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Job Title': 'Information Technology', 'Termination Count': 1}

Query 14:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Name': 'Shannon Cobb', 'Date Of Birth': '1971-11-25'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Shannon Cobb', 'Date Of Birth': '1971-11-25'}

Query 15:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Alex Smith', 'Date Of Birth': '2012-12-31'}

Query 16:
Precision: 0.4667
Recall: 1.0000
F1 Score: 0.6364
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Employee Name': 'Timmy Turner'}
  {'Employee Name': 'Alex Smith'}
  {'Employee Name': 'Pham Rubert'}
  {'Employee Name': 'Julie Reynolds'}
  {'Employee Name': 'Wendy Leblanc'}
  {'Employee Name': 'Emily Johnson'}
  {'Employee Name': 'Raymond Richardson'}
  {'Employee Name': 'Vio Albert Ferdinand'}

Query 17:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Organization Name': 'Board of Directors', 'Total Employee Variables Value': 8592735}
  {'Organization Name': 'Board of Commissioners', 'Total Employee Variables Value': 2864245}
  {'Organization Name': 'Information Technology', 'Total Employee Variables Value': 11456980}
  {'Organization Name': 'Operations', 'Total Employee Variables Value': 2864245}
  {'Organization Name': 'Customer Support', 'Total Employee Variables Value': 5728490}
  {'Organization Name': 'Human Resources', 'Total Employee Variables Value': 8592735}

Query 18:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Date': '', 'Total Linting Merek Satu': ''}

Query 19:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Total Value Without Decimal': 40099430}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Linting Merek Satu': 40099430}

Query 20:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Nama Karyawan': 'Timmy Turner'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Timmy Turner'}

Query 21:
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
Accuracy: 1.0000

Query 22:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Transfer': None}

Query 23:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Bank Name': '', 'Total Transferred Amount': ''}

Query 24:
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
Accuracy: 1.0000

Query 25:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Nama Karyawan': 'Keith Moore', 'Nik': 'EMP0005', 'Place Of Birth': None}
  {'Nama Karyawan': 'Alex Smith', 'Nik': 'EMP0011', 'Place Of Birth': '9d320fbb-2a80-41ad-82c6-057f49115753'}
  {'Nama Karyawan': 'Dillon Jefferson', 'Nik': 'EMP0009', 'Place Of Birth': None}
  {'Nama Karyawan': 'Emily Johnson', 'Nik': 'EMP0012', 'Place Of Birth': '9d320fbb-2a80-41ad-82c6-057f49115753'}
  {'Nama Karyawan': 'Sara Anderson', 'Nik': 'EMP0010', 'Place Of Birth': None}
  {'Nama Karyawan': 'Jason Stanley', 'Nik': 'EMP0008', 'Place Of Birth': None}
  {'Nama Karyawan': 'Raymond Richardson', 'Nik': 'EMP0002', 'Place Of Birth': None}
  {'Nama Karyawan': 'Jackie Miller', 'Nik': 'EMP0004', 'Place Of Birth': None}
  {'Nama Karyawan': 'Shannon Cobb', 'Nik': 'EMP0007', 'Place Of Birth': None}
  {'Nama Karyawan': 'Timmy Turner', 'Nik': 'EMP0014', 'Place Of Birth': None}
  {'Nama Karyawan': 'Julie Reynolds', 'Nik': 'EMP0001', 'Place Of Birth': None}
  {'Nama Karyawan': 'Sean Green', 'Nik': 'EMP0003', 'Place Of Birth': None}
  {'Nama Karyawan': 'Pham Rubert', 'Nik': 'EMP0015', 'Place Of Birth': None}
  {'Nama Karyawan': 'Wendy Leblanc', 'Nik': 'EMP0006', 'Place Of Birth': None}
  {'Nama Karyawan': 'Vio Albert Ferdinand', 'Nik': 'EMP0013', 'Place Of Birth': '9d320fbb-2a80-41ad-82c6-057f49115753'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Julie Reynolds', 'Nik': 'EMP0001', 'Place Of Birth': None}
  {'Employee Name': 'Emily Johnson', 'Nik': 'EMP0012', 'Place Of Birth': 'Jakarta'}
  {'Employee Name': 'Pham Rubert', 'Nik': 'EMP0015', 'Place Of Birth': None}
  {'Employee Name': 'Vio Albert Ferdinand', 'Nik': 'EMP0013', 'Place Of Birth': 'Jakarta'}
  {'Employee Name': 'Raymond Richardson', 'Nik': 'EMP0002', 'Place Of Birth': None}
  {'Employee Name': 'Shannon Cobb', 'Nik': 'EMP0007', 'Place Of Birth': None}
  {'Employee Name': 'Jackie Miller', 'Nik': 'EMP0004', 'Place Of Birth': None}
  {'Employee Name': 'Sean Green', 'Nik': 'EMP0003', 'Place Of Birth': None}
  {'Employee Name': 'Sara Anderson', 'Nik': 'EMP0010', 'Place Of Birth': None}
  {'Employee Name': 'Alex Smith', 'Nik': 'EMP0011', 'Place Of Birth': 'Jakarta'}
  {'Employee Name': 'Wendy Leblanc', 'Nik': 'EMP0006', 'Place Of Birth': None}
  {'Employee Name': 'Jason Stanley', 'Nik': 'EMP0008', 'Place Of Birth': None}
  {'Employee Name': 'Keith Moore', 'Nik': 'EMP0005', 'Place Of Birth': None}
  {'Employee Name': 'Dillon Jefferson', 'Nik': 'EMP0009', 'Place Of Birth': None}

Query 26:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Total Active Employees With Bonus': 1}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Employees Receiving Bonus': 1}

Query 27:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Non Manager Total Salary': None, 'Manager Total Salary': None}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Status Karyawan': 'Non-Manager', 'Total Gaji': 60000}
  {'Status Karyawan': 'Manager', 'Total Gaji': 12000}

Query 28:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Month': 12, 'Year': 2023, 'Bonus Total': 0.0}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Month Year': '2023-12', 'Total Bonus': 0.0}

Query 29:
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
Accuracy: 1.0000

Query 30:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Quarter': 1, 'Terminated Employee Count': 1}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Year': 2025, 'Quarter': 1, 'Terminated Employee Count': 1}

Query 31:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Tingkat pendidikan': 'Diploma 1', 'Jumlah karyawan': 1}
  {'Tingkat pendidikan': 'Strata 1 (Sarjana)', 'Jumlah karyawan': 2}
  {'Tingkat pendidikan': 'Strata 2 (Magister)', 'Jumlah karyawan': 2}

Query 32:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Pham Rubert', 'Contract End': '2025-03-31'}

Query 33:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Number Of Women Over 30': 3}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Count': 0}

Query 34:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Nama Karyawan': 'Wendy Leblanc'}
  {'Nama Karyawan': 'Dillon Jefferson'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Nama Karyawan': ''}

Query 35:
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
Accuracy: 1.0000

Query 36:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': ''}

Query 37:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Jumlah Karyawan S2': 0}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Count': 0}

Query 38:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Employee Id': '6b4fb9f2-7a82-49f4-bcdd-a8c0be027ffa', 'Number Of Bank Accounts': 2}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Vio Albert Ferdinand', 'Total Bank Accounts': 2}

Query 39:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Total Paid Salary': None}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Salary Married': None}

Query 40:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Id': 'd6037ea4-851e-45d7-b9e1-22b3eaeb7f9a', 'Name': 'Jackie Miller', 'Number Of Educations': 2}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Jackie Miller', 'Total Educations': 2}

Query 41:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Jumlah Karyawan Aktif': 1}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Employees Blood Type O': 2}

Query 42:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Jumlah Karyawan': 3}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Count': 0}

Query 43:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Nama Karyawan': 'Wendy Leblanc'}
  {'Nama Karyawan': 'Dillon Jefferson'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Nama Karyawan': ''}

Query 44:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Count': 0}

Query 45:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Jumlah Karyawan': 0}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Employees Unmarried': 0}

Query 46:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Karyawan Name': 'Pham Rubert', 'Tanggal Berakhir Kontrak': '2025-03-31'}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': 'Pham Rubert', 'Contract End': '2025-03-31'}

Query 47:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Total Paid Salary': 24000}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Salary Blood Type A': 24000}

Query 48:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Employee Name': '', 'Total Bank Accounts': ''}

Query 49:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Total Paid Salary': 36000}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Total Salary': 72000}

Query 50:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Location Name': 'Surabaya', 'Total Terminations': 1}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Location': 'Surabaya', 'Termination Count': 1}

Query 51:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Location Name': '', 'Total Thp': ''}

Query 52:
Precision: 0.0000
Recall: 0.0000
F1 Score: 0.0000
Accuracy: 0.0000

Items in prediction but not in expected (Predicted but not in Ground Truth):
  {'Location Name': 'Surabaya', 'Employee Count': 5}
  {'Location Name': 'Bandung', 'Employee Count': 2}
  {'Location Name': 'Jakarta', 'Employee Count': 8}

Items in expected but not in prediction (Ground Truth but not Predicted):
  {'Location Name': 'Jakarta', 'Total Employees': 7}
  {'Location Name': 'Bandung', 'Total Employees': 4}
  {'Location Name': 'Surabaya', 'Total Employees': 3}

## Upload to Google Sheets

In [ ]:
from modules.google_sheets_writer import GoogleSheetsWriter
from modules.google_sheets_writer import GoogleUtil


# Create writer instance
writer = GoogleSheetsWriter(
    google_util=google,
    sheet_id=GOOGLE_SPREADSHEET_ID,
    worksheet_name=EVAL_SHEET_NAME,
    batch_size=10,
    max_retries=5,
    batch_delay=2
)

# Write the DataFrame
result = writer.write_dataframe(eval_df)

# Log results
logger.info(f"Successfully wrote {result.successful_rows} rows")
if result.failed_rows > 0:
    logger.error(f"Failed to write {result.failed_rows} rows")
    for error in result.errors:
        logger.error(f"Row {error['row_number']}: {error['error']}")